.image-page {
  display: flex;
  height: 80vh;
  flex-wrap: wrap;
}

.image-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 400px;
  padding: 10px;
  background: #defcff;
}

.image-list .image {
  margin: 5px;
  cursor: pointer;
  width: 33%;
  max-width: 150px;
  height: 150px;
}

.image-list .image img {
  width: 100%;
  border: 5px solid transparent;
}

.image-list .image.selected img {
  border-color: #0085ff;
}

.metadata {
  padding: 10px;
  background: #c4c4c4;
}

.metadata input {
  width: 145px;
  height: 20px;
  margin: 5px;
  border: 0px;
}
